---
import headHtml from '../content/portfolio-head.html?raw';
import bodyHtml from '../content/portfolio-body.html?raw';
---

<!doctype html>
<html lang="en">
  <head>
    <Fragment set:html={headHtml} />
  </head>
  <body>
    <Fragment set:html={bodyHtml} />
  </body>
</html>
